@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
  --white: #fff;
  --light-grey: #d4d4d4;
  --trans-grey: rgba(255, 255, 255, 0.5);
  --dark-grey: #555555;
  --bg-color: rgb(140, 0, 175);
  --purple: rgb(140, 0, 175);
  --light-purple: rgb(225, 160, 241);
  --dark-purple: rgb(94, 2, 94);
  --greenyellow: rgb(153, 255, 0);
  --box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--bg-color);
  font-family: 'Poppins', sans-serif;
}

@mixin flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.wrapper {
  height: 30rem;
  width: 30rem;
  background: var(--trans-grey);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
}

.title{
    font-size: 1.5rem;
}

.note-name{
    font-size: 1.2rem;
    padding: .5rem 0 0 0;
}

.add-note-form{
    @include flex;
    gap: .5rem;
}

input[type=text]{
    font-size: 1rem;
    width: 100%;
    padding: .3rem;
}

.textarea-note{
    padding: .3rem;
    width: 100%;
    resize: none;
}

#add-btn{
    border: .1rem solid var(--dark-grey);
    padding: .3rem 1rem;
}