@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300;400;500&display=swap');

:root {
  --white: #f0f0f0;
  --bg-color: #026b0b;
  --light-grey: rgba(202, 202, 202, 0.521);
  --orangered: #ff4400;
  --box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
  --box-shadow-1: 0.3rem 0.2rem 0.5rem hwb(0 0% 100% / 0.26);
  --box-shadow-bg: 0 0.8rem 3.2rem hsla(236, 63%, 33%, 0.37);
  --font: 'Noto Sans', sans-serif;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  @include flex;
  min-height: 100vh;
  background: var(--bg-color);
  font-family: var(--font);
}

.container {
  height: 30rem;
  width: 30rem;
  padding: 0.5rem;
  background: var(--light-grey);
  backdrop-filter: blur(1rem);
  box-shadow: var(--box-shadow-bg);
  border: 0.1rem solid rgba(255, 255, 255, 0.18);
  border-radius: 0.5rem;

  color: var(--white);
}

.title {
  text-align: center;
  font-weight: 400;
  text-shadow: .1rem .1rem .5rem rgba(0, 0, 0, 0.8);
  padding: 1rem 0;
}

.profile-container {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  top: 3rem;
}

.profile-details {
  @include flex;
  flex-direction: column;
  cursor: pointer;
}

.img-cont{
    @include flex;
    height: 12rem;
    width: 9rem;
    border-radius: 47%;
    border: .2rem solid greenyellow;
    background: linear-gradient(to right, #00b09b, #96c93d);
    box-shadow: var(--box-shadow-1);

    &:hover{
        transform:  translateY(1.3) scale(1.3);
        transition: transform .15s ease-in-out;
    }
}

img{
    height: 10.2rem;
    object-fit: cover;
    border-radius: 47%;
    transform: translateY(0) scale(1.15);
    transition: transform .15s ease-in-out;

    &:hover{
        border-radius: 47%;
        transform:  translateY(-1rem) scale(1.35);
        transition: transform .15s ease-in-out;
    }
}

.name{
    margin-top: 1rem;
}
.name, .profession{
  font-size: 1rem;
}

.experience {
  display: none;
}
