@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
  --white: #fff;
  --light-grey: #d4d4d4;
  --trans-grey: rgba(255, 255, 255, 0.5);
  --dark-grey: #444;
  --bg-color: #03596e;
  --box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--bg-color);
  font-family: 'Poppins', sans-serif;
}

@mixin flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  position: relative;
  @include flex;
  height: 30rem;
  width: 30rem;
  background: var(--trans-grey);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
}

.wrapper {
  @include flex;
  flex-direction: column;
  height: 25rem;
  width: 25rem;
  color: var(--dark-grey);
  border: 0.1rem solid var(--light-grey);
  background: transparent;
  box-shadow: var(--box-shadow);
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
}

.title {
  font-size: 1.8rem;
  padding-top: .5rem;
  text-transform: uppercase;
}

.amt-bill,
.service-rate {
  @include flex;
  gap: 5rem;
  padding: 1rem;
  border-bottom: 0.1rem solid var(--bg-color);

  label {
    font-size: 1.2rem;
    color: var(--white);
    font-weight: 300;
  }

  #bill {
    outline: none;
    padding: 0.5rem 1rem 0.5rem 0;
    width: 15.5rem;
    text-align: right;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    color: var(--dark-grey);
    background: var(--light-grey);
  }

  input[type='number'] {
    -moz-appearance: textfield;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.service-rate {
  gap: 2.5rem;
  padding: 0.5rem 1rem;
}

select {
  padding: 0.5rem 2.3rem;
  background: var(--light-grey);
  color: var(--dark-grey);
  font-size: 1.2rem;
  border: none;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

option {
  background: var(--bg-color);
  color: var(--light-grey);
}

.calculate-btn,
.reset-btn {
  font-size: 1rem;
  padding: 0.5rem 0em;
  margin: 1rem auto;
  width: 100%;
  border: none;
  text-transform: uppercase;
  border-radius: 0.3rem;
  background: var(--bg-color);
  color: var(--light-grey);
  box-shadow: var(--box-shadow);
  cursor: pointer;

  &:hover {
    background: var(--dark-grey);
    color: var(--light-grey);
    box-shadow: var(--box-shadow);
    transition: all 0.15s ease-in-out;
  }

  &:active {
    transform: translateY(0.3rem);
  }
}

.calculated-amount {
  width: 100%;
}

.tip-amt,
.overall-total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--dark-grey);
  padding: 0.5rem 0;
  font-size: 1.2rem;
}

.tip-amt-text,
.total-amt-text {
  color: var(--white);
  font-size: 1.2rem;
  font-weight: 300;
}

.tip-value,
.total-value {
  height: 2rem;
  width: 12rem;
  background: var(--light-grey);
  text-align: right;
  font-weight: 500;
  padding-right: 1rem;
}
