:root {
  --white: #fff;
  --light-grey: #d4d4d4;
  --trans-grey: rgba(255, 255, 255, 0.5);
  --dark-grey: #555555;
  --bg-color: #476806;
  --red: #e22e2e;
  --box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  @include flex;
  min-height: 100vh;
  background-color: var(--bg-color);
  font-family: sans-serif;
}

.container {
  height: 45rem;
  width: 35rem;
  background: var(--trans-grey);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
}

.title {
  padding: 1rem 0;
  text-align: center;
  color: var(--white);
  letter-spacing: 0.1rem;
  text-shadow: var(--box-shadow);
}

.faqs_wrapper {
  margin: 0 2rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  background: transparent;
  overflow: hidden;
}

details {
  padding: 0.5rem 1rem;
  border: none;
  border-color: var(--light-grey) transparent var(--light-grey) transparent;
  border-width: .1rem;
  border-style: solid;
}

details summary::-webkit-details-marker,
details summary::marker {
  display: none;
  content: '';
}

details[open] > summary::after {
  content: '-';
  text-align: center;
  background-color: var(--bg-color);
}

summary {
  position: relative;
  @include flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 1rem;
  color: var(--dark-grey);
  padding: 0.5rem 0;
  cursor: pointer;

  &::after {
    content: '+';
    color: var(--white);
    font-size: 2rem;
    text-align: center;
    height: 2.5rem;
    width: 2.5rem;
  }

  &:hover::after{
      background-color: var(--light-grey);
      color: var(--bg-color)
  }
}

.q-para {
  text-align: justify;
  font-size: 0.8rem;
  color: var(--white);
}
