@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300;400;500&display=swap');

:root {
  --white: #fff;
  --dark-blue: rgb(92, 28, 165);
  --light-purple: rgb(222, 195, 236);
  --box-shadow: 0.3rem 0.3rem 0.3rem rgba(24, 24, 24, 0.3);
  --font: 'Noto Sans', sans-serif;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  @include flex;
  min-height: 100vh;
  background: var(--light-purple);
  font-family: var(--font);
}

.container {
  position: relative;
  height: 24rem;
  width: 50rem;
  background: var(--white);
  backdrop-filter: blur(1rem);
  box-shadow: var(--box-shadow-bg);
  border: 0.1rem solid rgba(255, 255, 255, 0.5);
  border-radius: 1.25rem 0.5rem 0.5rem 1.25rem;
  color: var(--white);
  overflow-y: scroll;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    height: 0.3rem;
    width: 1rem;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: grey;
    border-radius: 0.5rem;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: orange;
    border-radius: 2rem;
    background-clip: content-box;
  }
}

.logo {
  color: var(--dark-blue);
  text-shadow: var(--box-shadow);
}

.header {
  @include flex;
  justify-content: space-between;
  position: fixed;
  gap: 8.5rem;
  height: 5rem;
  padding: 0 1rem;
  background: var(--white);
  border-bottom: 0.1rem solid grey;
}

.nav-bar {
  @include flex;
  gap: 0.5rem;
}

a:link,
a:active,
a:visited {
  text-decoration: none;
  font-size: 1rem;
  background: transparent;
  color: orange;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  box-shadow: var(--box-shadow);

  &:hover {
    background: var(--dark-blue);
    color: var(--white);
  }

  &:active {
    transform: translateY(0.2rem);
    transition: 0.15s ease-in-out;
  }
}

#top {
  position: relative;
  @include flex;
  margin-top: 5rem;
  gap: 1rem;
  padding: 0 1rem;
}

.title,
.sub-title {
  font-size: 1.2rem;
  color: var(--dark-blue);
  text-align: center;
}

.sub-title {
  color: orange;
}

.para {
  font-size: 0.8rem;
  color: var(--dark-blue);
  text-align: center;
  padding-bottom: 1rem;
}

.welcome-msg {
  position: relative;
  @include flex;
  flex-direction: column;
  top: -1rem;
}

.welcome-img {
  padding: 1rem 0;
}

#main {
  position: relative;
}

.counter-cont {
  position: relative;
  @include flex;
  flex-direction: column;
  gap: 3rem;
  margin: 0 auto;
  bottom: -9rem;
}

.cont-btn {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  color: var(--white);
  background: var(--dark-blue);
  box-shadow: var(--box-shadow);

  &:hover {
    background: orange;
  }

  &:active {
    transform: translateY(0.2rem);
    transition: 0.15s ease-in-out;
  }
}

.img-main {
  position: absolute;
  filter: opacity(0.3);
  border-radius: 0 0 0.5rem 0.5rem;
}

.wrapper {
  @include flex;
  color: #000;
  gap: 2rem;
}

.counter-box {
  @include flex;
  flex-direction: column;
  font-weight: 900;
}

.fa-solid {
  font-size: 3rem;
}

.counter {
  font-size: 2rem;
  color: orange;
}

.counter-text {
  font-size: 1.2rem;
}

#scrollToTopBtn {
  font-size: 2rem;
  color: rgb(92, 28, 165);
}
