:root {
  --white: #fff;
  --skyblue: #21a0b1;
  --red: #bb0101;
  --light-grey: #e4e4e4;
  --grey: #c0c0c0;
  --dark-grey: #555555;
  --box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  @include flex;
  min-height: 100vh;
  background: var(--skyblue);
  color: var(--dark-grey);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  height: 20rem;
  width: 40rem;
  background: var(--light-grey);
  box-shadow: var(--box-shadow);
}

.box {
  position: relative;
  overflow: hidden;
  height: 20rem;
  width: 40rem;
  overflow: hidden;
}

.login-cont,
.register-cont,
.reset-cont {
  position: absolute;
  @include flex;
  justify-content: start;
  height: 100%;
  width: 100%;
}

.form {
  position: relative;
  height: 100%;
  width: 50%;
  margin: 0 auto;
  padding: 2rem;
  animation: slide-up 0.5s ease;
}

.reset-form {
  margin-top: 2rem;
}

.img-cont {
  position: relative;
  height: 100%;
  width: 50%;
  animation: slide-down 0.5s ease;
}

img {
  position: absolute;
  height: 100%;
}

@keyframes slide-down {
  0% {
    transform: translateY(-20rem);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(20rem);
  }
  100% {
    transform: translateY(0);
  }
}

.title {
  position: relative;
  text-align: center;
  top: -0.5rem;
}

.fontpassword {
  position: relative;

  i {
    position: absolute;
    right: 0.5rem;
    top: 1.5rem;
    cursor: pointer;
  }
}

.password {
  display: inline-block;
  padding: 0.5rem 1rem;
  width: 100%;
  font-size: 0.8rem;
  margin-top: 1rem;
  border-radius: 0.3rem;
  border: 0.1rem solid var(--grey);
}

.username,
.email,
.reset {
  padding: 0.5rem 1rem;
  width: 100%;
  font-size: 0.8rem;
  margin-top: 1rem;
  border-radius: 0.3rem;
  border: 0.1rem solid var(--grey);
}

.login-btn,
.register-btn,
.reset-btn {
  padding: 0.5rem 2rem;
  width: 100%;
  background: #6969e0;
  border: none;
  margin: 1.3rem 0 0.5rem 0;
  border-radius: 0.3rem;
  color: var(--white);
  cursor: pointer;
}

.login-btn:active,
.register-btn:active,
.reset-btn:active {
  transform: translateY(0.3rem);
  box-shadow: var(--box-shadow);
}

a,
.noAct-text {
  font-size: 0.8rem;
  line-height: 1.2rem;
}

a:link {
  text-decoration: none;
  color: blue;
}

a {
  color: blue;
  &:active {
    color: var(--red);
  }
}

.close-resetBtn {
  position: relative;
  font-size: 1rem;
  background: none;
  border: .1rem solid var(--dark-grey);
  top: -2rem;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  color: var(--dark-grey);
  cursor: pointer;
}
