@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
  --white: #fff;
  --light-grey: #d4d4d4;
  --dark-grey: #555555;
  --bg-color: greenyellow;
  --greenyellow: greenyellow;
  --box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--bg-color);
  font-family: 'Poppins', sans-serif;
}

@mixin flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  position: relative;
  height: 30rem;
  width: 30rem;
  background: var(--dark-grey);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
}

.title {
  color: var(--greenyellow);
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 3rem;
  padding-top: 0.3rem;
  text-transform: uppercase;
}
.text-container {
  @include flex;
}

#input-area {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: var(--box-shadow);
  font-size: 1rem;
  outline: none;
  border: none;
  overflow: auto;
  margin: 0 auto;
  resize: none;
  padding: 1rem;
  border-radius: 0.5rem;
  color: var(--dark-grey);
}

.wrapper-counter {
  @include flex;
  flex-direction: row;
  justify-content: space-around;
  justify-items: center;
  padding-top: 0.8rem;
  line-height: 1.5rem;
}

.word-count,
.char-count {
  font-size: 1.5rem;
  text-align: center;
  color: var(--greenyellow);
}

.word-text,
.char-text {
  font-size: 1.3rem;
  color: var(--light-grey);
}
