@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  @include flex;
  min-height: 100vh;
}

.container {
  position: relative;
  @include flex;
}

.carousel {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30rem;
  width: 30rem;
  overflow: hidden;
}

.carousel-inner > .item > img {
  margin: 0 auto;
}
