@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

:root {
  --white: #fff;
  --blue: blue;
  --red: #bb0101;
  --dark-grey: #555555;
  --bg-color: #dadada;
  --box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  @include flex;
  min-height: 100vh;
  color: var(--bg-color);
  font-family: 'Open Sans', sans-serif;
}

.slider {
  position: relative;
  @include flex;
  flex-direction: column;
  height: 30rem;
  width: 30rem;
  background: var(--white);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  overflow: hidden;

  &::before {
    position: absolute;
    content: '❝';
    transform: translate(-11rem, -10rem);
    font-size: 8rem;
    color: var(--blue);
  }

  &::after{
    position: absolute;
    content: "TESTIMONIALS";
    color: var(--white);
    writing-mode: tb-rl;
    text-align: center;
    height: 10rem;
    width: 3rem;
    background: var(--red);
    transform: rotate(180deg);
    box-shadow: var(--box-shadow);
    padding: 1rem;
    margin: -20rem -27rem 0 0;
    border-radius: 0 .5rem 0 0;
  }
}

.slider-container {
  @include flex;
  padding: 0;
  height: 20rem;
  margin: 0 auto;
}

.slider-item {
  position: relative;
  @include flex;
  font-size: 1.2rem;
  color: var(--dark-grey);
  padding: 1rem 3rem;
  gap: 1rem;
  display: none;

  &.active {
    display: block;
    animation: slide 0.5s linear;
  }

  @keyframes slide {
    0% {
      transform: translateX(-3rem);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
}

.slider-para {
  padding: 1rem 1rem 1rem 1rem;
  margin-top: 2rem;
  text-align: justify;
  text-indent: 4rem;
}

.name {
  padding: 0 1rem;
  text-align: center;
}

.indicators {
  position: relative;
  height: 10rem;
}

.slider-controls {
  display: flex;
  justify-content: center;
  gap: 1rem;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.image-1,
.image-2,
.image-3 {
  position: relative;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  border: 0.2rem solid var(--red);

  object-fit: cover;
  cursor: pointer;
  opacity: 0.3;
  transition: opacity 0.5s ease-in-out;

  &.active {
    opacity: 1;
    bottom: .3rem;
    box-shadow: .3rem .3rem 1rem rgba(0, 0, 0, 0.5);
    transition: all .3s ease-in-out;
  }
}

.image-1 {
  transform: translate(-1rem, 2rem);
}

.image-2 {
  transform: translate(-1rem, 2rem);
}

.image-3 {
  transform: translate(0.8rem, 1.4rem);
}

.wave {
  border-radius: 0 0 0.5rem 0.5rem;
  height: 10rem;
  margin-top: -4rem;
}